
    body {
      font-family: 'Georgia', serif;
      background-color: white;
      color: #000;
      margin: 0 auto;
      padding: 40px;
      width: 210mm;
      max-width: 100%;
      height: auto;
      box-sizing: border-box;
    }
    h1, h2, h3 {
      color: #003366;
    }
    textarea {
      width: 100%;
      height: 80px;
      margin-bottom: 15px;
    }
    .section {
      margin-bottom: 25px;
    }
    .quote {
      font-style: italic;
      background-color: #f9f9f9;
      padding: 10px;
      border-left: 4px solid #ccc;
      margin-bottom: 20px;
    }
/*per fer que la imatge s’adapti a l’amplada de la pantalla (i evitar que sobrepassi el contenidor.*/
.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

